name: Go

on: [pull_request]

jobs:

  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: go.mod
        check-latest: true

    - name: Go modules cache
      uses: actions/cache@v3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Build
      run: go build -v ./...
    
    - name: Build windows
      run: GOOS=windows GOARCH=amd64 go build -v ./...

    - name: Test
      run: go test -v ./...

  integration:
    strategy:
      matrix:
        image:
          - quay.io/footloose/ubuntu18.04
          - quay.io/footloose/centos7
          # - quay.io/footloose/amazonlinux2  ( not recognized )
          - quay.io/footloose/debian10
          - quay.io/footloose/fedora29
    needs: build
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: go.mod
        check-latest: true
    
    - name: install test dependencies
      run: |
        sudo apt-get update
        sudo apt-get install expect

    - name: Run integration tests
      env:
        LINUX_IMAGE: ${{ matrix.image }}
      run: make -C test test

